
.vertical-align {
    display: flex;
    align-items: center;
}

body { padding-top: 70px; }

.panel, .navbar {
  box-shadow: 3px 3px 10px grey;
}

.hidden {
  display: none;
}

.banned {
  border-color: #fdd;
  background-color: #fee;
}

.approved {
  border-color: #dfd;
  background-color: #efe;
}

.fld-changed {
  //box-shadow: 0px 0px 10px red !important;
  //background-color: yellow !important;
  border-color: red !important;
}
