            <div class="well">
              <div class="media">
                <div class="media-left">
                  <img id="{$imgId}" src="{$imgSrc}" class="media-object" style="width:100px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <span {if $id}id="{$id}-title"{/if}>{$title}</span> 
                    <small {if !$dt}class="hidden"{/if} {if $id}id="{$id}-dt-container"{/if}><i>Отзыв оставлен <span {if $id}id="{$id}-dt"{/if}>{$dt}</span></i></small>
                  </h4>
                  <p {if $id}id="{$id}-body"{/if}>{$feedback}</p>
                </div>
              </div>
            </div>
