
      <div class="container">
        <div class="header">

          <div class="row vertical-align">
            <div class="col-lg-9">
              <h3>Обратная связь</h3>
            </div>

            <div class="col-lg-3">

              <div class="input-group">
                <span class="input-group-addon">
                  Админ:
                </span>
                <input type="password" placeholder="Пароль" class="form-control">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-success">Вход</button>
                </span>
              </div><!-- /input-group -->

            </div>
          </div>

        </div>
      </div>
