
      <div class="container">
        <div class="header">

          <div class="row vertical-align">
            <div class="col-lg-2">
              {if !$CONST.IS_ADMIN}

              <button type="button" class="btn btn-info" id="down">Оставить отзыв</button>
              {else}
              <h3>Отзывы</h3>
              {/if}
            </div>

            <div class="col-lg-7" style="text-align: center;">
              {if $CONST.ORDER_BY=='name'}
              <button type="button" class="btn btn-primary btn-order-by" data-fld="name">
                Имя <span class="badge">{if $CONST.ORDER_DIRECTION=='ASC'}&darr;{else}&uarr;{/if}</span>
              </button>
              {else}
              <button type="button" class="btn btn-default btn-order-by" data-fld="name">
                Имя <span class="badge">&times;</span>
              </button>
              {/if}

              {if $CONST.ORDER_BY=='email'}
              <button type="button" class="btn btn-primary btn-order-by" data-fld="email" >
                E-Mail <span class="badge">{if $CONST.ORDER_DIRECTION=='ASC'}&darr;{else}&uarr;{/if}</span>
              </button>
              {else}
              <button type="button" class="btn btn-default btn-order-by" data-fld="email">
                E-Mail <span class="badge">&times;</span>
              </button>
              {/if}

              {if $CONST.ORDER_BY=='dt'}
              <button type="button" class="btn btn-primary btn-order-by" data-fld="dt">
                Дата <span class="badge">{if $CONST.ORDER_DIRECTION=='ASC'}&darr;{else}&uarr;{/if}</span>
              </button>
              {else}
              <button type="button" class="btn btn-default btn-order-by" data-fld="dt">
                Дата <span class="badge">&times;</span>
              </button>
              {/if}
            </div>


            <div class="col-lg-3">

              {if $CONST.IS_ADMIN}

              <div class="input-group pull-right">
                <button type="button" class="btn btn-success" id="logout-btn">Выход</button>
              </div><!-- /input-group -->

              {else}

              <div class="input-group">
                <span class="input-group-addon">
                  Админ:
                </span>
                <input type="password" placeholder="Пароль" class="form-control" id="login-pwd" value="123">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-success" id="login-btn">Вход</button>
                </span>
              </div><!-- /input-group -->

              {/if}

            </div>
          </div>

          <div class="row" id="alert-container" style="display: none;">
            <div class="alert alert-danger" style="text-align: center;">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Внимание!</strong> <span id="alert-msg"></span>
            </div>
          </div>

          <div class="row" id="notice-container" style="display: none;">
            <div class="alert alert-success" style="text-align: center;">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <span id="notice-msg"></span>
            </div>
          </div>

        </div>
      </div>
